certifi==2020.12.5
chardet==4.0.0
geojson==2.5.0
idna==2.10
numpy==1.20.3
Pillow==8.2.0
pip==21.1.3
pyowm==3.2.0
PySocks==1.7.1
requests==2.25.1
setuptools==49.2.1
urllib3==1.26.4
cycler==0.10.0
kiwisolver==1.3.1
matplotlib==3.4.2
pyparsing==2.4.7
python-dateutil==2.8.1
